@model Daisy.Models.Flower

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Flower</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FlowerName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FlowerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FlowerProducedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FlowerProducedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd>
            <img src="@Html.DisplayFor(model=>model.Image)" width="200" height="200" alt="img" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
